.idea
target/

# 1 : Git status : para ver cambios nuevos
# 2 : Git add . : para agregar todos los cambios
# 3 : Git commit -m "mensaje" : para agregar un mensaje
# 4 : Git push : para subir los cambios al repositorio